*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.parent{
width: 500px;
height: 500px;
background-color: blueviolet;
position: relative;
}
.enfant1{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 140);
    position: absolute;
    bottom:0;
    right: -75px;
}
   
.enfant2{
    width: 150px;
    height: 150px;
    background-color: aqua;
    position: absolute;
    rotate: 20deg;
    right: -75px;
   
}
#parent1{
    width: 150px;
    height: 150px;
    background-color: rgb(179, 255, 0);
    position: absolute;
    border-radius: 100%;
    bottom: -75px;
    left: 175px;
}
.parent3{
    width: 500px;
    height: 500px;
    background-color: rgb(226, 43, 43);
    position: relative;
   
}

.enfant31{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: -1;
   
}
.enfant32{
    width: 200px;
    height: 200px;
    background-color: rgb(126, 112, 216);
    position: absolute;
    bottom: -100px;
   right: -100px;
   
}
.enfant33{
    width: 200px;
    height: 200px;
    background-color: rgb(8, 12, 82);
    position: absolute;
    bottom: -100px;
    right: -100px;

}
.enfant34{
    width: 200px;
    height: 200px;
    background-color: rgb(216, 214, 112);
    position: absolute;
    bottom: -100px;
    right: -100px;
    
}